.parent {
  display: flex;
  justify-content: flex-start; /* Alinea a la izquierda */
  align-items: flex-start; /* Alinea a la parte superior */
  height: 100vh;
  padding: 20px; /* Añade un poco de padding */
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; /* Aumenta el ancho máximo */
}

.container img {
  display: block;
  margin: 0 auto 20px;
}

h1 {
  text-align: left; /* Alinea el título a la izquierda */
  margin-bottom: 20px;
}

.input-box {
  margin-bottom: 15px;
}

.input-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-box .input-error input {
  border-color: red;
}

.input-box .input-error small {
  color: red;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.register {
  text-align: center;
  margin-top: 20px;
}

.register a {
  color: #007bff;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}